certifi==2024.7.4
charset-normalizer==3.1.0
colorama==0.4.6
customtkinter==5.1.2
darkdetect==0.8.0
idna==3.7
markdown-it-py==2.2.0
mdurl==0.1.2
Pillow==10.3.0
Pygments==2.15.0
requests==2.31.0
rich==13.3.3
setuptools>=68.0.0
tqdm==4.65.0
urllib3==1.26.18
ordered-set==4.1.0
wheel==0.38.4
zstandard==0.20.0
python-dotenv==1.0.0
thefuzz==0.20.0
