certifi==2023.7.22
charset-normalizer==3.1.0
colorama==0.4.6
customtkinter==5.1.2
darkdetect==0.8.0
idna==3.4
markdown-it-py==2.2.0
mdurl==0.1.2
Pillow==9.5.0
Pygments==2.15.0
requests==2.31.0
rich==13.3.3
tqdm==4.65.0
urllib3==1.26.15